  <div class="container text-center">
  <div class="small-container text-center">
  <div class="title"><%= image_tag("fancy-logo.png") %></div>
    <ul class="list-group">
      <% @cocktails.each do |cocktail| %>
        <li class="list-group-item">
          <div class="row">
          <%= link_to cocktail.name, cocktail_path(cocktail), class: "btn btn-link" %>
          </div>
        </li>
      <% end %>
    </ul>
  <%= link_to new_cocktail_path, class: "btn btn-primary"  do %>
  <%= "Add" %>
  <i class="fa fa-glass" aria-hidden="true"></i>
<% end %>
</div>
</div>
